.message-container {
  max-height: calc(80vh);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

/* Сховати горизонтальний індикатор прокрутки */
.message-container::-webkit-scrollbar {
  width: 0.5em;
}

/* Сховати вертикальний індикатор прокрутки */
.message-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Сховати трек прокрутки (фон) */
.message-container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Сховати кути */
.message-container::-webkit-scrollbar-corner {
  background-color: transparent;
}
