.input-style {
  @apply p-xs pr-20 w-full resize-y overflow-y-auto outline-none cursor-pointer
  hover:bg-bgColors-hoverGrey hover:border-borderColors-active
   border-t border-solid border-borderColors-default 
   focus:border-borderColors-default focus:drop-shadow-focusButton;
}

.input-style::-webkit-resizer {
  @apply outline-none;
}

.icon-style {
  @apply absolute right-xs top-1/2 transform -translate-y-1/2;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 500ms ease forwards;
}
